baseURL = "http://example.org"
theme = "zzo"
title = "aiandrox.data"

defaultContentLanguage = "ja"
defaultContentLanguageInSubdir = true
hasCJKLanguage = true

buildFuture = true
summaryLength = 70

copyright = "&copy;{year}, All Rights Reserved"
enableEmoji = true
paginate = 13
rssLimit = 100
timeout = 10000

enableGitInfo = false
googleAnalytics = ""

[markup]
[markup.goldmark]
[markup.goldmark.renderer]
hardWraps = true
unsafe = true
xHTML = true
[markup.highlight]
codeFences = true
lineNos = true
lineNumbersInTable = true
noClasses = false
style = "monokai"
[markup.tableOfContents]
endLevel = 4
ordered = false
startLevel = 2

[outputs]
home = ["HTML", "RSS", "SearchIndex"]
section = ["HTML", "RSS", "SearchIndex"]
taxonomy = ["HTML", "RSS", "SearchIndex"]
taxonomyTerm = ["HTML", "RSS", "SearchIndex"]

[outputFormats]
[outputFormats.SearchIndex]
baseName = "index"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[taxonomies]
category = "categories"
series = "series"
tag = "tags"
