<script>
  "use strict";
  // ====================== markdown code block ======================
  function wrap(el, wrapper) {
    el.parentNode.insertBefore(wrapper, el);
    wrapper.appendChild(el);
  }

  (function () {
    var singleContentsElem = document.querySelector(".single__contents");
    singleContentsElem
      ? singleContentsElem
          .querySelectorAll("pre > code")
          .forEach(function (elem) {
            var dataLang = elem.getAttribute("data-lang");
            if (!dataLang) return;
            // 以下の定義はまあ多分いらないんだけど
            var code = null;
            var codeTitle = null;

            if (!dataLang.includes(".")) {
              // 言語のみ指定のとき
              elem.className = "language-" + dataLang;
              elem.removeAttribute("data-lang");
              return;
            }

            if (dataLang.includes("..")) {
              // 拡張子以外の言語を強制する場合
              code = dataLang.split("..")[1];
              codeTitle = dataLang.split("..")[0].split(":")[1];
            } else if (dataLang.includes(":")) {
              // 普通の拡張子のとき
              code = dataLang.split(":")[0];
              codeTitle = dataLang.split(":")[1];
            } else {
              // :がなくて拡張子のみのとき
              code = dataLang.split(".")[1];
              codeTitle = dataLang;
            }
            elem.className = "language-" + code;
            elem.setAttribute("data-lang", codeTitle);
            elem.parentElement.parentElement.parentElement.setAttribute(
              "data-titled",
              true
            );
          })
      : null;
  })();

  var langCodeElem = document.querySelectorAll(".language-code");
  langCodeElem
    ? langCodeElem.forEach(function (elem) {
        var newElem = document.createElement("span");
        newElem.className = "copy-to-clipboard";
        newElem.setAttribute("title", "Copy to clipboard");
        elem.append(newElem);
      })
    : null;
  // =================================================================
</script>
